img {
  height: auto;
  width: 500px;
  margin-top: 4%;
  border: 1px solid #999999;
  padding: 2%;
}

.lead {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "IBM Plex Serif", serif !important;
  font-size: 17px;
}

nav {
  padding-left: 3% !important;
  background-color: white;
}

h4 {
  display: flex;
  justify-content: center;
}
h5 {
  margin-top: 10%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
}

.icons {
  height: auto;
  width: 100%;
  max-width: 100px;
}
