img {
  height: auto;
  width: 500px;
  margin-top: 4%;
  border: 1px solid #999999;
  padding: 2%;
}

.lead {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
  font-size: 17px;
}

nav {
  padding-left: 3% !important;
  background-color: white;
}

h4 {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}
h5 {
  margin-top: 10%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

.icons {
  height: auto;
  width: 100%;
  max-width: 100px;
}
a {
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

@media only screen and (max-width: 600px) {
  img {
    height: auto;
    width: 100%;
    max-width: 420px;
  }
  .lead {
    margin: 4%;
    font-family: "Dosis", sans-serif !important;
    letter-spacing: 5px;
  }
  /* nav {
    padding-left: 43% !important;
  } */
}
