img {
  height: auto;
  width: 500px;
  margin-top: 4%;
  border: 1px solid #999999;
  padding: 2%;
}

.lead {
  margin: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
  font-size: 17px;
  margin-left: none;
  text-align: justify;
  text-justify: inter-word;
}

nav {
  padding-left: 3% !important;
  background-color: white;
}

h4 {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

h5 {
  margin-top: 10%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

.icons {
  height: auto;
  width: 100%;
  max-width: 100px;
}

a {
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

.aboutme {
  padding-bottom: 10%;
}

#tech {
  height: 100px;
  width: 100px;
  border: none;
  margin-top: 0%;
}

#tech-css {
  height: 85px;
  width: 100px;
  border: none;
  margin-top: 8%;
  margin-bottom: 4%;
}

#design {
  margin-bottom: 10%;
}

@media only screen and (max-width: 640px) {
  img {

    height: auto;
    width: 100%;
    max-width: 300px;
  }

  .lead {
    margin: 10%;
    font-family: "Dosis", sans-serif !important;
    font-size: 12px;
    letter-spacing: 2px;
  }

  /* nav {
    padding-left: 43% !important;
  } */
}