.img-fluid {
  height: 50px !important;
  width: 50px !important;

  /* max-width: 100px; */
}

.container {
  margin-top: 7%;
}

.row {
  margin-top: 7%;
}

h4 {
  margin-left: 5%;
  margin-top: 1%;
}
