.img-fluid {
  height: 50px !important;
  width: 50px !important;

  /* max-width: 100px; */
}

.container {
  margin-top: 5%;
}

/* .row {
  margin-top: 7%;
  padding-top: 2%;
} */
#hard {
  margin-top: 4%;
}

col {
  padding-top: 0% !important;
}

.container {
  padding-left: 12%;
}

#insta {
  padding-bottom: 2%;
}

nav {
  background-color: #ffffff;
}

a {
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

@media only screen and (max-width: 780px) {
  img {
    height: 20px !important;
    filter: grayscale(1%);
    max-width: 50px !important;
  }
  .container {
    padding-left: 6%;
    margin-bottom: 10%;
  }
  .col {
    margin-top: 10%;
  }
  #hard {
    margin-top: 10% !important;
    padding-top: 2%;
    padding-left: 0%;
  }
  nav {
    background-color: #ffffff;
    font-family: "Dosis", sans-serif !important;
    letter-spacing: 5px;
  }
  h4 {
    font-family: "Dosis", sans-serif !important;
    letter-spacing: 5px;
  }
  iframe {
    height: auto;
    width: 85%;
  }
  /* #linkedin {
    padding-bottom: 5% !important;
    padding-top: 1% !important;
  }
  #git {
    padding-bottom: 4% !important;
    padding-top: 2% !important;
  }
  #you {
    padding-top: 10% !important;
    padding-bottom: -2% !important;
    margin-left: 2% !important;
  }*/
  #insta {
    padding-bottom: 5%;
    padding-top: 3% !important;
  }
}

h4 {
  font-family: "IBM Plex Serif", serif !important;
}
