.img-fluid {
  height: 50px !important;
  width: 50px !important;

  /* max-width: 100px; */
}

.container {
  margin-top: 7%;
}

/* .row {
  margin-top: 7%;
  padding-top: 2%;
} */
#hard {
  margin-top: 4%;
}

col {
  padding-top: 0% !important;
}

.container {
  padding-left: 12%;
}

@media only screen and (max-width: 780px) {
  #hard {
    margin-top: 10% !important;
    padding-top: 2%;
    padding-left: 0%;
  }
  h4 {
    font-family: "IBM Plex Serif", serif !important;
  }
  iframe {
    height: auto;
    width: 85%;
  }
  #linkedin {
    padding-bottom: 5% !important;
    padding-top: 1% !important;
  }
  #git {
    padding-bottom: 4% !important;
    padding-top: 2% !important;
  }
  #you {
    padding-top: 10% !important;
    padding-bottom: -2% !important;
    margin-left: 2% !important;
  }
  #insta {
    padding-bottom: 5%;
    padding-top: 4% !important;
  }
}

h4 {
  font-family: "IBM Plex Serif", serif !important;
}
