.lead {
  /* margin: 5%; */
  font-size: 17px;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
  margin-top: 2%;
  padding-left: 10%;
  padding-right: 10%;
}

h4 {
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

h5 {
  margin-top: 4%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

#verber {
  margin-top: 0%;
}

img {
  height: auto;
  width: 100%;

  padding: 1%;
}

nav {
  padding-left: 3% !important;
  background-color: white;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

a {
  color: brown;

  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}
.row {
  padding-top: 10% !important;
}

.painting {
  width: 240px;
  height: 240px;
}

/* #p {
  display: flex;
  justify-content: flex-end;
} */

.embed-responsive {
  width: 100%;
  height: auto;
  max-width: 700px;
  min-width: 100px;
}

.row {
  margin: 4%;
  padding-top: 11%;
  padding-bottom: 2%;
}

.sound {
  display: flex;
  justify-content: flex-end;
}

iframe {
  height: auto;
  width: 100%;
}
.img-fluid {
  height: 30px !important;
  width: 30px !important;
  margin-left: 38% !important;

  /* max-width: 100px; */
}

/* .iframe {
    display: flex;
    justify-content: center;
} */

.workContainer {
  padding-bottom: 10%;
}

@media only screen and (max-width: 600px) {
  img {
    height: auto;
    width: 100%;
    max-width: 45s0px;
  }
  .lead {
    margin: 0%;
    padding-left: 0%;
    padding-right: 0%;
  }
  iframe {
    height: auto;
    width: 100%;
  }
  .row {
    padding-top: 19% !important;
  }
  #verber {
    margin-top: 4%;
  }
  .painting {
    width: 150px;
    height: 150px;
    /* margin-left: 10%; */
  }
  #images {
    margin-left: 5% !important;
  }
  /* #text-on-image {
    margin-right: 53% !important;
  } */

  /* nav {
    padding-left: 44% !important;
  } */
}
