.lead {
  margin: 5%;
  font-size: 17px;
  font-family: "IBM Plex Serif", serif !important;
  margin-top: 2%;
}

h4 {
  display: flex;
  justify-content: center;
}

h5 {
  margin-top: 4%;
  margin-bottom: 0%;
  display: flex;
  justify-content: center;
}

img {
  height: auto;
  width: 100%;
  border: 1px solid #999999;
  padding: 1%;
}

nav {
  padding-left: 3% !important;
  background-color: white;
}

a {
  color: brown;
}

/* #p {
  display: flex;
  justify-content: flex-end;
} */

.embed-responsive {
  width: 100%;
  height: auto;
  max-width: 700px;
  min-width: 100px;
}

.row {
  margin: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
}

.sound {
  display: flex;
  justify-content: flex-end;
}

iframe {
  height: auto;
  width: 100%;
}

/* .iframe {
    display: flex;
    justify-content: center;
} */

@media only screen and (max-width: 600px) {
  img {
    height: auto;
    width: 100%;
    max-width: 330px;
  }
  .lead {
    margin: 0%;
  }
  iframe {
    height: auto;
    width: 100%;
  }
}
