body {
  background: url("/Assests/tape.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  height: 100%;
}

html {
  height: 100%;
}

nav {
  background-color: transparent;
}

.nav-link {
  /* text-align: center; */
  color: #ffffff !important;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

.bg-light {
  background-color: transparent !important;
}

a {
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

.page-heading {
  display: flex;
  justify-content: flex-end;
  font-size: 6vw;
  color: #ffffff;

  margin-top: -3%;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
  font-weight: 100 !important;
}

.des {
  display: flex;
  justify-content: flex-end;
  margin-left: 3%;
  margin-top: -2%;
  font-size: 2vw;
  color: aliceblue;
  font-weight: 100 !important;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;
}

nav {
  padding-left: 3% !important;
  font-family: "Dosis", sans-serif !important;
  letter-spacing: 5px;

}

.navbar-light .navbar-toggler {
  border-color: rgba(0, 0, 0, 0.6);
}

@media only screen and (max-width: 600px) {
  body {
    background: url("/Assests/tape.jpg");
    background-position: center;
    background-size: cover;
  }
}

/* .content { */

/* font-family: "Source Code Pro", monospace; */

/* font-family: "IBM Plex Serif", serif; */

/* -webkit-text-stroke-width: 0.5px; */

/* -webkit-text-stroke-color: rgb(55, 198, 223); */

/* } */